
body {
  margin: 0;
  background: linear-gradient(to bottom left, #9999FF, #EEFFFF);
  font-family: 'Ubuntu', sans-serif;
  color: #444444;
}

#bob {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {
    background-color: #7777aa;
    padding: 20px;
    text-align: center;
    color: #ddddff;
    border-radius: 50px 0px 0px 5px;
}

.header h1{
  font-family: 'Spirax', cursive;
}

.header p{
  font-family: 'Ubuntu', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 0px 5px 5px 0px;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.main {
    width: 65%;
}

.column h1, h2 {
  font-family: 'Spirax', cursive;
  color: #5555aa;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #ddbbff;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 50px 5px;
}

.footer h1{
  color: #ffffff;
  font-family: 'Spirax', cursive;
}

